@{
    ViewData["Title"] = "About";
}
    
    <div class="text-center">
        <h1 class="display-4" e">Change Appointment Request Project</h1>
        <p class="lead">
            Interview Code for PETDESK
        </p>

        <blockquote class="blockquote text-center">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <p> </p>
        <p>by Gustavo Mayoral</p>
    </div>

