@{
    ViewData["Title"] = "About";
}
    
    <div class="text-center">
        <h1 class="display-4" e">About</h1>
        <p class="lead">
            Interview Code for PETDESK
        </p>
        <blockquote class="blockquote text-center">
            <p class="mb-0">This is the application I’ve created according to the email specification. 
            In total I’ve spent about 4 hours. It is very basic and being an exercise, 
            there are things missing like adding error handling and logging, finishing the confirm and re-schedule appointment process, 
            authorization and authentication, pagination and re-order of data for larger datasets, 
            filtering the time and date picker for only available slots, and so on… .</p>

        </blockquote>
        <p>Please let me know if you have any questions. I’m available to discuss  </p>
        <p>Gustavo Mayoral</p>
    </div>

