@{
    ViewData["Title"] = "Home Page";

    var hours = new List<SelectListItem>();
    hours.Add(new SelectListItem() { Text = "Pick Time", Value = "Pick Time"});
    for(int hour = 7; hour<=24; hour++)
    {
        var ampm = hour > 11 ? (hour==12 ? "PM": (hour == 24 ?"AM":"PM")) : "AM";
        var hourText = $"{(hour>12?hour-12:hour)}:00 {ampm}";
        hours.Add(new SelectListItem() { Text = hourText, Value = hourText });
        hourText = hourText.Replace(":00", ":30");
        hours.Add(new SelectListItem() { Text = hourText, Value = hourText });
    }

}
    <div class="text-center">
        <h1 class="display-4">Your pending Appointments</h1>
        <p>Here is the list of pending appointments to confirm:</p>
        <div id="appointmentGrid">
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Modal Change Appointment Form-->
        <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="changeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeModalTitle">Change Appointment Request</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Pick Time and Date</span>
                                </div>
                                <select id="proposedTime" name="proposedTime" class="form-control" 
                                        asp-items="@(new SelectList(hours,"Value","Text"))">
                                </select>
                                <input type="text" aria-label="Pick Date" data-date-autoclose="true" id="proposedDate" name="proposedDate" class="form-control" value="Pick Date">
                                <input type="hidden" name="changeId" id="changeId" />
                                <input type="hidden" name="api" id="api" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="btnChange" type="button" class="btn btn-primary" >Send Change Request</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
